Web Development/A3/all/Phone.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="phoneType">
      <xs:all>
         <xs:element name="home" type="xs:string" minOccurs="0" />
         <xs:element name="work" type="xs:string" minOccurs="0" />
      </xs:all>
   </xs:complexType>
   <xs:element name="phone" type="phoneType"/>
</xs:schema>