Web Development/A3/choice/Phone.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="phoneType">
      <xs:choice minOccurs="0" maxOccurs="2">
         <xs:element name="home" type="xs:string"/>
         <xs:element name="work" type="xs:string"/>
      </xs:choice>
   </xs:complexType>
   <xs:element name="phone" type="phoneType"/>
</xs:schema>