Web Development/A3/cars/CarList01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="carType">
      <xs:sequence minOccurs="0" maxOccurs="2">
         <xs:element name="color" type="xs:string"/>
         <xs:element name="make" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="plate" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="carsType">
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
         <xs:element name="car" type="carType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="cars" type="carsType"/>
</xs:schema>